/* Generales */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}
p , a, li {
    font-family: 'Mulish', sans-serif;
    font-weight: 200;
    list-style: none;
}
b {
    font-weight: bold;
}
i {
    font-style: italic;
}

a {
    text-decoration: none;
}

section {
    margin: 10px;
}
button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
    line-height: 1.17648;
    font-weight: 400;
    min-width: 28px;
    padding: 8px 16px;
    border-radius: 16px;
    background: #3AAFB9;
    color: #ffffff;
}
button:hover {
    background-color: #0B4C61;
}


/* Header */

.header {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}
  
.my-photo {
    width: 40%;
}
  
.my-photo img {
    width: 100%;
}
  
.header-content {
    width: 60%;
    margin: 20px;
}
.random-facts {
    display: flex;
    justify-content: space-between;
    width: 20%;
    height: 10%;
    text-align: center;
    align-content: center;
}

  
/* Main */

.container-experience-studies {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-between;
    margin: 0 auto 5%;
    align-items: flex-start;
    justify-content: center;

}
.section-experience {
    width: 60%;
    padding: 0 30px;
}
.section-studies {
    width: 40%;
    /* padding: 0 30px; */
}
.section-header {
  cursor: pointer;
}
.experience,
.studies {
  display: none;
}
.active {
  display: block;
  background-color: azure;
  padding: 3%;
}
.centrar-boton {
    text-align: center;
    margin: 2%;
}


/* Footer */
.footer-container {
    margin: auto;
    background-color: #015a61;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    margin: 0 auto;
    padding: 1.5%;
}
.social-button {
    color: #ffffff;
}
.social-img {
    width: 20px;
}